.home {
  margin: 15px 12px;
  margin-bottom: 75px;
  min-width: 259px;
}

.article {
  display: block;
  background: var(--light-gray-70);
  border: 1px solid var(--light-gray);
  border-radius: 20px;
  padding: 15px;
  box-shadow: var(--shadow-1);
}

.fade {
  animation: fade 0.5s ease backwards;
}

.h2 {
  font-size: 32px;
}

.article-title {
  position: relative;
  padding-bottom: 7px;
  margin-bottom: 15px;
  color: var(--dark-navy);
  text-transform: capitalize;
}

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--af-white);
  backdrop-filter: blur(10px);
  border: 1px solid var(--light-gray);
  border-radius: 12px 12px 0 0;
  box-shadow: var(--shadow-2);
  z-index: 5;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/**
 * responsive larger than 580px screen
 */

@media (min-width: 580px) {
  .home {
    margin-top: 60px;
    margin-bottom: 100px;
  }
  .article {
    width: 520px;
    margin-inline: auto;
    padding: 30px;
  }

  .article-title {
    padding-bottom: 15px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .navbar {
    border-radius: 20px 20px 0 0;
  }
}

@media (min-width: 768px) {
  .article {
    width: 700px;
  }

  .article-title {
    padding-bottom: 20px;
  }
}

/**
 * responsive larger than 1024px screen
 */

@media (min-width: 1024px) {
  .home {
    margin-bottom: 60px;
  }

  .main-content {
    position: relative;
    width: max-content;
    margin: auto;
  }

  .article {
    width: 950px;
    box-shadow: var(--shadow-5);
  }
  .navbar {
    position: absolute;
    bottom: auto;
    top: 0;
    left: auto;
    right: 0;
    width: max-content;
    border-radius: 0 20px;
    padding: 0 20px;
    box-shadow: none;
  }
}

/**
 * responsive larger than 1250px screen
 */

@media (min-width: 1250px) {
  .home {
    max-width: 1200px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 25px;
  }

  .main-content {
    min-width: 75%;
    width: 75%;
    margin: 0;
  }

  .article {
    min-height: 100%;
    width: auto;
    box-shadow: var(--shadow-5);
  }
}
