.home {
  margin: 15px 12px;
  margin-bottom: 75px;
  min-width: 259px;
}

/**
 * responsive larger than 580px screen
 */

@media (min-width: 580px) {
  .home {
    margin-top: 60px;
    margin-bottom: 100px;
  }
}

/**
 * responsive larger than 1024px screen
 */

@media (min-width: 1024px) {
  .home {
    margin-bottom: 60px;
  }
}

/**
 * responsive larger than 1250px screen
 */

@media (min-width: 1250px) {
  .home {
    max-width: 1200px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 25px;
  }
}
