.home {
  margin: 15px 12px;
  margin-bottom: 75px;
  min-width: 259px;
}

/**
 * responsive larger than 580px screen
 */

@media (min-width: 580px) {
  .home {
    margin-top: 60px;
    margin-bottom: 100px;
  }
  .article {
    width: 520px;
    margin-inline: auto;
    padding: 30px;
  }
}

@media (min-width: 768px) {
  .article {
    width: 700px;
  }
}

/**
 * responsive larger than 1024px screen
 */

@media (min-width: 1024px) {
  .home {
    margin-bottom: 60px;
  }

  .main-content {
    position: relative;
    width: max-content;
    margin: auto;
  }

  .article {
    width: 950px;
    box-shadow: var(--shadow-5);
  }
}

/**
 * responsive larger than 1250px screen
 */

@media (min-width: 1250px) {
  .home {
    max-width: 1200px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 25px;
  }

  .main-content {
    min-width: 75%;
    width: 75%;
    margin: 0;
  }

  .article {
    min-height: 100%;
    width: auto;
    box-shadow: var(--shadow-5);
  }
}

.article {
  display: none;
  background: var(--eerie-black-2);
  border: 1px solid var(--jet);
  border-radius: 20px;
  padding: 15px;
  box-shadow: var(--shadow-1);
}

.article.active {
  display: block;
  animation: fade 0.5s ease backwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
