.tag {
  color: var(--eerie-black-1);
  font-weight: 300;
  border-radius: 6px;
  padding: 0px 8px;
  font-weight: 300;
  font-size: 11px;
  // background: var(--navy-jet);
  // background: var(--border-gradient-onyx);
  width: max-content;
  // box-shadow: var(--shadow-1);
  position: relative;
  z-index: 1;
}

// .tag::before {
//   content: "";
//   position: absolute;
//   inset: 1px;
//   background: var(--navy-onyx);
//   // background: var(--navy);
//   border-radius: inherit;
//   z-index: -1;
// }
