/* 
* * sidebar
*/

.sidebar {
  width: auto;
  position: sticky;
  top: 60px;
  max-height: max-content;
  height: 100%;
  margin-bottom: 0;
  padding-top: 60px;
  z-index: 1;

  background: var(--navy);
  border: 1px solid var(--navy-jet);
  border-radius: 20px;
  padding: 30px;
  box-shadow: var(--shadow-1);

  // margin-bottom: 15px;
  // max-height: 112px;
  overflow: hidden;
  transition: var(--transition-2);
  // max-height: 405px;
}

// .sidebar.horizontal {
//   width: 700px;

//   width: 950px;
//   box-shadow: var(--shadow-5);
// }

// .sidebar.horizontal.small {
//   width: 520px;
//   margin-inline: auto;
//   padding: 30px;
//   max-height: 180px;
//   margin-bottom: 30px;

//   &.active {
//     max-height: 584px;
//   }
// }

/*
* * sidebar-info
*/

.sidebar-info {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  // gap: 15px;
  gap: 25px;
  flex-direction: column;
}

/* 
* * info-content
*/
.info-content .name {
  color: var(--white-2);
  font-size: 26px;
  font-weight: 500;
  letter-spacing: -0.25px;
  // margin-bottom: 10px;
  margin-bottom: 15px;
  white-space: nowrap;
  text-align: center;
}

.info-content .title {
  color: var(--white-1);
  background: var(--navy-onyx);
  font-size: 12px;
  font-weight: 300;
  width: max-content;
  padding: 5px 18px;
  border-radius: 8px;
  margin: auto;
}

/*
* * avatar-box
*/

.avatar-box {
  background: var(--bg-gradient-onyx);
  border-radius: 30px;
  //border-radius: 20px;
  overflow: hidden;
}

/*
* * sidebar-info_more
*/

.sidebar-info_more {
  // opacity: 0;
  // visibility: hidden;
  opacity: 1;
  visibility: visible;
  transition: var(--transition-2);
}

/*
* * separator
*/

.separator {
  width: 100%;
  height: 1px;
  background: var(--navy-jet);
  // margin: 16px 0;
  margin: 32px 0;
}

.separator:last-of-type {
  margin: 15px 0;
  opacity: 0;
}

/*
* * contacts-list / contact-item / contact-info / contact-title / contact-link
*/

.contacts-list {
  display: grid;
  gap: 30px 15px;
  grid-template-columns: 1fr;
}

.contact-item {
  min-width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}

.contact-info {
  max-width: calc(100% - 64px);
  width: calc(100% - 64px);
}

.contact-title {
  color: var(--light-gray-70);
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 2px;
}

.contact-link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 300;
  font-size: 14px;
  color: var(--white-2);
}

/*
* * social-list / social-link
*/

.social-list {
  justify-content: center;
  display: flex;
  // justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding-bottom: 4px;
  padding-left: 7px;
}

.social-item .social-link {
  color: var(--light-gray-70);
}

.social-item .social-link:hover {
  color: var(--light-gray);
}

/*
* * icon-box
*/
.icon-box {
  width: 48px;
  height: 48px;
  border-radius: 12px;
  font-size: 18px;
  position: relative;
  background: var(--border-gradient-onyx);
  // width: 30px;
  // height: 30px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  // font-size: 16px;
  box-shadow: var(--shadow-1);
  z-index: 1;
}

.icon-box::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--navy);
  border-radius: inherit;
  z-index: -1;
}

.info_more-btn {
  display: none;
}

.info_more-btn {
  position: absolute;
  top: -15px;
  right: -15px;
  border-radius: 0 15px;
  font-size: 13px;
  color: var(--orange-yellow-crayola);
  background: var(--border-gradient-onyx);
  padding: 10px;
  box-shadow: var(--shadow-2);
  transition: var(--transition-1);
  z-index: 1;
}

.info_more-btn::before {
  content: "";
  position: absolute;
  inset: 1px;
  border-radius: inherit;
  background: var(--bg-gradient-jet);
  transition: var(--transition-1);
  z-index: -1;
}

.info_more-btn:hover,
.info_more-btn:focus {
  background: var(--bg-gradient-yellow-1);
}

.info_more-btn:hover::before,
.info_more-btn:focus::before {
  background: var(--bg-gradient-yellow-2);
}

.info_more-btn span {
  display: none;
}

.info_more-btn {
  top: -30px;
  right: -30px;
  padding: 10px 15px;
}

.info_more-btn span {
  display: block;
  font-size: var(--fs-8);
}

.info_more-btn ion-icon {
  display: none;
}

.sidebar.active .sidebar-info_more {
  opacity: 1;
  visibility: visible;
}
